/* 功能栏 */
.coreBox .embedBox {
    height: 6vh;
    width: 100%;
}

/* 设置悬浮框布局 */
.coreBox .floatBox {
    width: 100%;
    border-radius: 0vh 0vh 2vh 2vh;
    transition: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0% 2vw 0% 2vw;
}

/* 控制面板 */
.coreBox .floatBox .controlPanel {
    display: flex;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 6vh;
}

/* 控制面板 各功能块统一设置 */
.coreBox .floatBox .controlPanel .functionBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 控制面板 进度条宽度 */
.coreBox .floatBox .controlPanel .progressBox {
    width: 60%;
}

/* 控制面板 功能宽度 */
.coreBox .floatBox .controlPanel .controlBox {
    width: 40%;
}

/* 控制面板 功能按钮设置 */
.coreBox .floatBox .controlPanel .controlButton {
    width: 25%;
    padding: 0% 0% 0% 4%;
}

/* 样例面板 */
.coreBox .floatBox .examplePanel {
    transform: translateY(0px);
    height: 0px;
    background-color: rgba(255, 255, 255, 0.7);
}

.coreBox .floatBox .examplePanel.finish {
    height: 0px;
}

/* 样例盒子宽度设置 */
.coreBox .floatBox .examplePanel .exampleBox {
    padding-top: 1%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 设置每个样例 */
.coreBox .floatBox .examplePanel .exampleBox .theExample {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}