/* 问题框 */
.Template.QuestionExample {
    --questionExampleHeight: calc(var(--controlLen) * var(--controlRatio) * 0.3 * 1px);
    --mainColor: #6699ff;
    --finishColor: #04a61cc7;

    background-color: #ffffff;
    height: var(--questionExampleHeight);
    border-radius: calc(var(--questionExampleHeight) * 0.05);
    border: 2px solid #cecece;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

/* 问题框悬浮 */
.Template.QuestionExample:hover {
    border: 2px solid var(--mainColor);
    transform: translateY(-2px);
}

/* 标题 */
.Template.QuestionExample .Title {
    width: 10%;
    padding-right: 2%;
    font-size: calc(var(--questionExampleHeight) * 0.08);
    writing-mode: vertical-rl;
    font-weight: bolder;
}

/* 视频框 */
.Template.QuestionExample .VideoBox {
    width: 90%;
    height: 90%;
    border: 2px solid #cecece;
    border-radius: 5px;
    overflow: hidden;
}

/* 视频框悬浮 */
.Template.QuestionExample .VideoBox:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--mainColor);
}

/* 视频悬浮 */
.Template.QuestionExample iframe {
    width: 100%;
    height: 100%;
    border: none;
}